/* section 1 */
.sec-1{
    height: 703px;
    background-color:#DCEAF5;
}  
.sec-1-flex{
    display: flex;
}
.sec-1-left{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-1-left-title{
    color: #1d3444;
    font-size: 58px;
    font-weight: 600;
    line-height: 72px;
}
.sec-1-left-p-1{
    font-size: 18px;
    font-weight: 500;
    color: #5b5b5b;
    line-height: 30px;
}
.sec-1-left-buttons{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
}  
.sec-1-left-first-button {    
    width: 199px;
    height: 54px;
    border-radius: 27px;
    background-color: #F58A07;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-1-left-first-button a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600; 
}
.sec-1-left-second-button a{
    color: #1d3444;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.sec-1-left-p-2{
    color: #39414950;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
}
.sec-1-logos{
    display: flex;
    justify-content: space-between;
}
/* section 2  */
.sec-2{
    height: 850px;
    display: flex;
    flex-wrap: wrap;
}
.sec-2-title{
    width: 735px;
}
.sec-2-title h2{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px; 
    color:#1d3444
}
.sec-2-title p{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px; 
    color:#5b5b5b
}
.sec-2-help-post{
    width: 100%;
    display:flex ;
    justify-content: space-between;
}
.sec-2-help-post article{
    width: 30%;
}
.sec-2-help-post img{
    border-radius: 20px;
}
.sec-2-help-post h3{
    font-size: 24px;
    font-weight: 500px;
    line-height: 25.56px;
    color: #0d1317;
}
.sec-2-help-post p{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color:#5b5b5b
} 
.sec-2-help-post-2-p{ 
    color: #1d3444;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}
.sec-2-help-post-orange-text{
    color: #F58A07;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.04px;
}
.sec-2-help-post-orange-text::after{
    content: "\2192";   
}
/* section 3 */
.sec-3{
    height: 665px;
    background: #DCEAF5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec-3-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-3-title h3{
    width: 50%;
    color: #0d1317;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    margin-top: 0;
}
.sec-3-title p {
    width: 50%;
    color: #1d3444;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 0;
}
.sec-3-cards{
    display: flex;
    justify-content:space-between ;
}
.sec-3-card{
    background-color: #fff ;
    width: 401px;
    height: 277px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.sec-3-card div{
    width: 336px;
}
.sec-3-card h3{
    color: #0d1317;
    font-size: 24px;
    font-weight: 600;
    line-height: 25.56PX;
}
.sec-3-card p{
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 500;
    line-height: 28PX;
}
/* section 4 */
.sec-4{
    height: 800px;
    display: flex;
    align-items: center;
}
.sec-4-title{
    width:50%;
}
.sec-4-title h2{ 
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #0d1317;
}
.sec-4-title p { 
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #5b5b5b;
    width: 80%;
}
.sec-4-features{
    display: flex;
}
.sec-4-features h3{
    font-family: 'inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
}
.sec-4-features h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 25.56px;
    color: #0d1317;
}
.sec-4-features p{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #5b5b5b;
}
.sec-4-img div{
    background-color: #F58A07;
    height: 667px;
    width: 153px;
    border-radius: 20px 0 0 20px;
}
.sec-4-img img{ 
    border-radius: 20px;
    mix-blend-mode: multiply;
}
/* section 5 */
.sec-5{
    height: 682px;
    background: #edf7ff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.sec-5-ribbon{
    position: absolute;
    right: -15px;
    top:-15px;
}
.sec-5-tabs{
    display:flex;
    width: 50%;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 48px;
    }
.sec-5-tab-1{
    width: 194px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    color: #F58A07;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-5-tab-2{
    width: 155px;
    height: 40px;
    border: 1px solid #a8bccc;
    border-radius: 31px;
    color: #06315530;
    display: flex;
    justify-content: center;
    align-items: center
}
.sec-5-tab-3{
    width: 183px;
    height: 40px;
    border: 1px solid #a8bccc;
    border-radius: 31px;
    color: #06315530;
    display: flex;
    justify-content: center;
    align-items: center
}
.sec-5-flex{
    display: flex;  
    padding:0 48px;
    justify-content: space-between;
}
.sec-5-title{
    width: 50%;
    height: 466px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec-5-title h2{
    margin-top: 0;
    font-weight: 600px;
    font-size: 48px;
    line-height: 56px;
    color: #0d1317;
}
.sec-5-title p{
    width: 510px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 30px;
    color: #5b5b5b;
    margin-top: 0;
}
.sec-5-title-orange-text{
    color: #F58A07;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.04px;
}
.sec-5-title-orange-text::after{
    content: "\2192";   
}
.sec-5-img{
    height: 466px;
    width: 472px ;
}
.sec-5-img div{
    background-color: #F58A07;
    width: 120px;
    height:466px ;
    border-radius: 20px 0 0 20px;
}
.sec-5-img img{ 
    border-radius: 20px;
    mix-blend-mode: multiply;
}
.sec-6{
    height:518px;
    background:#F58A07;
    max-width: 1920px;
    margin:auto;
    display: flex;
}   
.sec-6-img{
    width: 50%;
    background-image: url(./images/experience-image.png);
}