html{
    font-family: 'poppins';
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: auto;
}
   /* header */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    color: #063255;
    font-weight: 600;
    font-size: 25px;
}
 nav{
 
    display: flex;  
}
 nav ul{   
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-around;
 }
 nav ul li a{
    color:  #394149;
    text-decoration: none ;
 }
 .button{
    width: 173px;
    height: 52px;
    background: rgba(245, 138, 7, 0.1);
    border-radius:31px ;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.button a{
    color:#F58A07;
    text-decoration: none ;
}
 /* section 1 */
.top{
    height: 703px;
    background-color:#DCEAF5;
  
}  
.topflex{
    display: flex;
}
.topfirst{
    width: 576px;
    height: 439px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.text1{
    color: #1d3444;
    font-size: 58px;
    font-weight: 600;
    line-height: 72px;
}
.text2{
    font-size: 18px;
    font-weight: 500;
    color: #5b5b5b;
    line-height: 30px;
}
.topfirstbutton{    
    width: 199px;
    height: 54px;
    border-radius: 27px;
    background-color: #F58A07;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topfirstbutton a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.topbuttons{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.secondbutton a{
    color: #1d3444;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.topfirst p{
    color: #394149 , 50%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.topLogos{
    display: flex;
    justify-content: space-between;
}
